<a href="https://colab.research.google.com/github/Saneesh122/Data-Processing-and-Visualization-/blob/main/03_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Learning Some SQL with BigQuery

The first bit below comes directly from Google, you'll need to do each of those to be successful in getting this document to work.

## Before you begin


1.   Use the [Cloud Resource Manager](https://console.cloud.google.com/cloud-resource-manager) to Create a Cloud Platform project if you do not already have one.
2.   [Enable billing](https://support.google.com/cloud/answer/6293499#enable-billing) for the project.
3.   [Enable BigQuery](https://console.cloud.google.com/flows/enableapi?apiid=bigquery) APIs for the project.

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Now that I am authenticated, I can start to play around in the dataset.  I am going to look at the liquor sales data from Iowa and try to find the most and least sales by city.  I do have a project called `pic-math` in my BigQuery interface.  So you'll need to make one but keep the name simple but identifiable!

## Why do we use SQL

Below you'll see a basic SQL call.  This illustrates why excel is not useful, 22 million rows is about 21.5 million more than excel can handle!  Essentially SQL will do the data manipulations on the database server side instead of on you machine (or in the cloud with colab)

In [ ]:
%%bigquery --project projectfordatavisualization
SELECT 
  COUNT(*) as total_entries
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   total_entries
0        1424786

Computing the longest trip :-

In [ ]:
%%bigquery --project projectfordatavisualization
SELECT 
  MAX(duration_minutes)
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

     f0_
0  34238

Computing the average time for the trip:-

In [ ]:
%%bigquery --project projectfordatavisualization
SELECT AVG(duration_minutes) 
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips` as table

         f0_
0  30.870428

Computing the average time based on starting point:- (need to work on it)

In [8]:
%%bigquery --project projectfordatavisualization
SELECT AVG(start_station_id)
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips` as table

           f0_
0  2940.983502